<!-- ./views/new.handlebars -->
<form style="display:inline-block;" action="/restaurants" method="POST">
  <div>
    <input type="text" placeholder="name" name="name">
  </div>

  <div>
    <input type="text" placeholder="english name" name="name_en">
  </div>

  <div>
    <input type="text" placeholder="category" name="category">
  </div>

  <div>
    <input type="text" placeholder="location" name="location">
  </div>

  <div>
    <input type="text" placeholder="phone-number" name="phone">
  </div>

  <div>
    <input type="text" placeholder="description" name="description">
  </div>

  <div>
    <input type="text" placeholder="googlemap link" name="google_map">
  </div>

  <div>
    <input type="text" placeholder="image link" name="image">
  </div>

  <div>
    <input type="text" placeholder="rating score" name="rating">
  </div>

  <button type="submit">Create</button>
</form>